/* Write your CSS here */
.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f8;
  height: 100vh;
  background-size: cover;
}
.head {
  color: #2d3a35;
  font-weight: bold;
}
.span {
  color: #c20a72;
}
.para {
  color: #2d3a35;
}
.background1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 15px;
  padding: 7px;
  border-width: 0px;
}
